# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/.gitignore
.idea/codeStyles
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/sbt.xml
.idea/vcs.xml
__pycache__/
